#parse("public/layout.vm")
#@mainLayout()
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="/">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                       <h4 class="card-title">Formularios</h4>
                       <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Sector</th>
                                        <th>Nivel Escolar</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaFormularios">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Sector</th>
                                        <th>Nivel Escolar</th>
                                        <th>Accion</th>
                                    </tr>
                                </tfoot>
                            </table>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>
#end